// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 24px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.2;

$desktopWidth            : 1280px;
$smDesktopWidth          : 992px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;





// Main color
$default-color           : #ffffff;
$primary-color           : #000000;
$success-color           : #def9c4;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #092704;
$neutral-regular         : #274b21;

// Border Color
$border-base             : #274b21;
$border-light            : #67d355;